/* body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f4f6;
  font-family: Arial, sans-serif;
}

.counter-box {
  background: white;
  padding: 30px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.buttons button {
  font-size: 24px;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #2563eb;
  color: white;
}

.buttons button:hover {
  background: #1e40af;
} */

/* ---------------------------------------- */

/* body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  transition: background 0.3s, color 0.3s;
}

/* LIGHT */
/* body {
  background: #f9fafb;
  color: #111827;
} */

/* DARK */
/* body.dark {
  background: #111827;
  color: #f9fafb;
} */

/* button {
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
} */
*/

/* ---------------------------------------------- */

/* body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f4f6;
  font-family: Arial, sans-serif;
}

.form {
  background: white;
  padding: 30px;
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

input, textarea {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

textarea {
  resize: none;
  height: 100px;
} */

/* ------------------------------------------- */

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f4f6;
  font-family: Arial, sans-serif;
}

.container {
  background: white;
  padding: 24px;
  border-radius: 12px;
  width: 300px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

li {
  list-style: none;
  padding: 10px;
  margin-top: 8px;
  background: #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}

button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
